# BROADCAST_URL=''
BROADCAST_PORT=9000
BROADCAST_HOST='localhost'
BROADCAST_DRIVER='TCP'

EXTERNAL_BROADCAST_PORT=9001
EXTERNAL_BROADCAST_HOST='localhost'
EXTERNAL_BROADCAST_DRIVER='TCP'

BLOCKCHAIN_ENDPOINT='https://wax.api.eosnation.io'
BLOCKCHAIN_CHAIN_ID='8be32650b763690b95b7d7e32d7637757a0a7392ad04f1c393872e525a2ce82b'

SCANNER_NODES_MAX_CHUNK_SIZE=100
SCANNER_SCAN_KEY='test'

BLOCK_READER_ENDPOINTS='ws://ship.alienworlds.io:28080'
BLOCK_READER_FETCH_DELTAS=1
BLOCK_READER_FETCH_TRACES=1

MONGO_HOSTS='localhost'
MONGO_PORTS='27017'
MONGO_DB_NAME='leaderboard_history_tools'
# MONGO_SRV=0
# MONGO_SSL=0
# MONGO_REPLICA_SET=myRepl
# MONGO_AUTH_MECHANISM=PLAIN
# MONGO_AUTH_SOURCE=admin

BLOCK_RANGE_MAX_THREADS=1
BLOCK_RANGE_INVIOLABLE_THREADS_COUNT=0

ATOMICASSETS_API_URL='https://atomicassets-api.alienworlds.io'

LEADERBOARD_API_HOST='localhost'
LEADERBOARD_API_PORT='8800'
LEADERBOARD_API_SECURE=0
LEADERBOARD_API_BATCH_SIZE=100
LEADERBOARD_UPDATE_CRON_TIME='* * * * *'
LEADERBOARD_TOKEN_EXPIRATION_TIME='1h'
LEADERBOARD_TOKEN_SECRET_KEY='foobar'
# LEADERBOARD_TOKEN=''

PROCESSOR_MAX_THREADS=4
PROCESSOR_INVIOLABLE_THREADS_COUNT=0
PROCESSOR_USE_SESSION=0
PROCESSOR_QUEUE_READ_CONCERN='snapshot'
PROCESSOR_QUEUE_READ_PREFERENCE='primary'
PROCESSOR_QUEUE_WRITE_CONCERN='majority'
PROCESSOR_BINDINGS_PATH='processor/processor.bindings'

HYPERION_URL='https://hyperion-wax-mainnet.wecan.dev'
ABIS_SERVICE_FILTER='eosio:setabi'

START_FROM_HEAD=0
MODE='default'
# START_BLOCK=238589484
# END_BLOCK=238589485