BLOCKCHAIN_ENDPOINT='https://wax.api.eosnation.io'
BLOCKCHAIN_CHAIN_ID='8be32650b763690b95b7d7e32d7637757a0a7392ad04f1c393872e525a2ce82b'
HYPERION_URL='https://hyperion-wax-mainnet.wecan.dev'
SCANNER_NODES_MAX_CHUNK_SIZE=100
SCANNER_SCAN_KEY='test'
ABIS_SERVICE_LIMIT=100
ABIS_SERVICE_FILTER='eosio:setabi'
BLOCK_READER_ENDPOINTS='ws://116.202.209.39:28080'
BLOCK_READER_FETCH_BLOCK=1
BLOCK_READER_FETCH_DELTAS=1
BLOCK_READER_FETCH_TRACES=1
READER_MAX_THREADS=1
READER_INVIOLABLE_THREADS_COUNT=0
PROCESSOR_MAX_THREADS=4
PROCESSOR_INVIOLABLE_THREADS_COUNT=0
FILTER_MAX_THREADS=1
FILTER_INVIOLABLE_THREADS_COUNT=0
PROCESSOR_TASK_QUEUE_CHECK_INTERVAL=5000
API_PORT=8080
START_BLOCK=238580000
END_BLOCK=238581000
START_FROM_HEAD=0
MODE='default'
MAX_BLOCK_NUMBER=0xffffffff
UNPROCESSED_BLOCK_QUEUE_MAX_BYTES_SIZE=256000000
UNPROCESSED_BLOCK_QUEUE_SIZE_CHECK_INTERVAL=2000
UNPROCESSED_BLOCK_QUEUE_BATCH_SIZE=100

BROADCAST_PORT=9000
BROADCAST_HOST='localhost'
BROADCAST_DRIVER='TCP'

ATOMIC_ASSETS_API_HOST='atomicassets-api.alienworlds.io'
ATOMIC_ASSETS_API_SECURE=1
ATOMIC_ASSETS_API_MAX_ASSETS_PER_REQUEST=100
ATOMIC_ASSETS_MAX_ASSETS_REQUESTS_PER_MINUTE=500

LEADERBOARD_UPDATE_QUEUE_BATCH_SIZE=1000

LEADERBOARD_API_MONGO_HOSTS='localhost'
LEADERBOARD_API_MONGO_PORTS='27017'
LEADERBOARD_API_MONGO_DB_NAME='leaderboard_api'
LEADERBOARD_API_REDIS_HOSTS='localhost'
LEADERBOARD_API_REDIS_PORTS='6379'
LEADERBOARD_API_REDIS_IANA=0
# LEADERBOARD_API_REDIS_DATABASE='1'

LEADERBOARD_WRITER_UPDATE_BATCH_SIZE=100
LEADERBOARD_WRITER_MAX_THREADS=4
LEADERBOARD_WRITER_INVIOLABLE_THREADS_COUNT=0

MONGO_HOSTS='localhost'
MONGO_PORTS='27017'
MONGO_DB_NAME='leaderboard_history_tools'

TLM_DECIMAL_PRECISION=4